* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

/*header*/
.logo {
  padding: 20px 0 10px 0;
  box-shadow: 0 0 5px rgba(7, 7, 7, 0.25);
  position: relative;
}
.logo h1 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  margin: 0;
}

/*location*/
.info_location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #f2f3f3;
  padding: 0 25px 0 0;
}
.info_location p {
  font-weight: 500;
  font-size: 17px;
}

/*explorer*/
.info_explorer {
  text-align: center;
  padding: 10px 30px 60px 30px;
  background-color: #fafafa;
}
.info_explorer-titre {
  font-size: 30px;
}
@media screen and (max-width: 767px) {
  .info_explorer-titre {
    font-size: 24px;
  }
}
.info_explorer-paragraphe {
  margin-bottom: 40px;
}
.info_explorer-bouton {
  padding: 15px;
  text-decoration: none;
  border: none;
  color: white;
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  border-radius: 25px;
  box-shadow: 1px 1px 3px 0 rgba(68, 67, 67, 0.64);
}
.info_explorer-bouton:hover {
  opacity: 0.85;
  transition: 0.15s;
  box-shadow: 2px 1px 8px -2px #000000;
}

/*fonctionnement*/
.fonctionnement {
  padding-bottom: 50px;
}
.fonctionnement_titre {
  padding-left: 100px;
}
@media screen and (max-width: 767px) {
  .fonctionnement_titre {
    padding-left: 20px;
  }
}

.fonctionnement_listes {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 20px 20px 120px;
  width: 80%;
  background-color: #f5f5f5;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
  box-shadow: 1px 1px 3px 0 rgba(68, 67, 67, 0.64);
}
@media screen and (max-width: 991px) {
  .fonctionnement_listes {
    margin: 0 20px 20px 75px;
  }
}
@media screen and (max-width: 767px) {
  .fonctionnement_listes {
    width: auto;
    margin: 0 20px 20px 30px;
  }
}
.fonctionnement_listes:hover {
  opacity: 0.9;
  box-shadow: 2px 1px 8px -2px #000000;
}
.fonctionnement_listes-numero {
  margin: 0%;
  padding-top: 5px;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  left: -15px;
}

.fonctionnement_listes-icone {
  padding-left: 30px;
  color: #7e7e7e;
}
.fonctionnement_listes-text {
  font-weight: 500;
  margin: 22px 0;
}

/*menus*/
.menus {
  padding: 30px 0 20px 0;
  background-color: #f5f5f5;
}
.menus_titre {
  padding-left: 100px;
}
@media screen and (max-width: 767px) {
  .menus_titre {
    padding-left: 20px;
  }
}
.menus_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
  width: 92%;
  margin-left: 4%;
  border-radius: 15px;
}
@media screen and (max-width: 767px) {
  .menus_cards {
    flex-direction: column;
  }
}

/*menus cards*/
.menus_cards-card {
  height: 250px;
  width: 48%;
  margin-bottom: 30px;
  border-radius: 15px;
  background-color: white;
  text-decoration: none;
  color: inherit;
  position: relative;
  transition: all 0.2s;
  box-shadow: 1px 1px 3px 0 rgba(68, 67, 67, 0.64);
}
@media screen and (max-width: 767px) {
  .menus_cards-card {
    width: 100%;
  }
}
.menus_cards-card:hover {
  opacity: 0.9;
  box-shadow: 2px 1px 8px -2px #000000;
}

.menus_cards-card-img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: center;
}
.menus_cards-card-badge {
  background-color: #99E2D0;
  color: #035203;
  font-weight: 500;
  padding: 8px;
  position: absolute;
  top: 15px;
  right: 10px;
}

/*menus cards description*/
.menus_cards-description {
  position: relative;
}
.menus_cards-description h4 {
  margin: 0%;
  padding: 5px 0 5px 8px;
}
.menus_cards-description p {
  margin: 0%;
  padding-left: 8px;
  font-size: 15px;
}
.menus_cards-description i {
  font-size: 25px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.menus_cards-description .fas {
  color: transparent;
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.3s ease-in-out 0.2s;
}
.menus_cards-description .fas:hover {
  opacity: 1;
}

/*footer*/
.footer {
  background-color: #353535;
  padding-bottom: 20px;
}
.footer_titre {
  color: white;
  font-family: "Shrikhand", cursive;
  margin: 0%;
  padding: 30px 0 25px 4%;
  font-size: 18px;
  font-weight: 500;
}
.footer_link {
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: white;
  padding-left: 4%;
}

.footer_link-icone {
  font-size: 14px;
}
.footer_link-utile {
  font-size: 14px;
  margin: 0%;
  padding-bottom: 10px;
}

/*page palettes du gout*/
/* header*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header_lien {
  text-decoration: none;
  color: inherit;
  position: absolute;
  left: 25px;
}
.header_lien-icone {
  font-weight: bold;
  font-size: 18px;
}
.header_logo {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  margin: 25px 0 20px 0;
}

/*main*/
.main_image {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}
.main_titres {
  position: relative;
  margin: -15px 8% 0 8%;
}
@media screen and (max-width: 767px) {
  .main_titres {
    margin: -50px 0 0 0;
  }
}

.main_titres-titre {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  margin: 0%;
  padding: 30px 0 30px 4%;
  background-color: #f5f5f5;
  border-radius: 30px 30px 0 0;
}
.main_titres i {
  font-size: 25px;
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  .main_titres i {
    right: 8%;
  }
}
.main_titres .fas {
  color: transparent;
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.3s ease-in-out 0.2s;
}
.main_titres .fas:hover {
  opacity: 1;
}

/*menu*/
.section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 8%;
  background-color: #f5f5f5;
}
@media screen and (max-width: 767px) {
  .section {
    margin: 0%;
  }
}
.section_menu h3 {
  margin: 0 0 20px 35px;
  font-weight: 400;
  position: relative;
}
.section_menu h3::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 45px;
  background-color: #99E2D0;
  top: 25px;
  left: 0;
}
@media screen and (max-width: 767px) {
  .section_menu h3 {
    margin: 0 0 20px 4%;
  }
}

.section_menu .temp-1 {
  animation-delay: 130ms;
}
.section_menu .temp-2 {
  animation-delay: 260ms;
}
.section_menu .temp-3 {
  animation-delay: 390ms;
}
.section_menu .temp-4 {
  animation-delay: 520ms;
}
.section_menu .temp-5 {
  animation-delay: 650ms;
}
.section_menu .temp-6 {
  animation-delay: 780ms;
}
.section_menu .temp-7 {
  animation-delay: 910ms;
}
.section_menu .temp-8 {
  animation-delay: 1040ms;
}
.section_menu .temp-9 {
  animation-delay: 1170ms;
}

@keyframes progressiv {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.section_menu-info {
  animation: progressiv 1170ms linear 100ms;
  animation-fill-mode: both;
  height: 70px;
  background-color: white;
  margin: 0 35px 10px 35px;
  border-radius: 15px;
  padding: 0 70px;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out 0.2s;
  box-shadow: 1px 1px 3px 0 rgba(68, 67, 67, 0.64);
}
.section_menu-info:hover .section_menu-info-check {
  margin-right: 60px;
}
.section_menu-info:hover .fa-check-circle {
  transform: rotate(360deg);
}
@media screen and (max-width: 767px) {
  .section_menu-info {
    margin: 0 4% 10px 4%;
    padding: 0 10px;
  }
  .section_menu-info:hover {
    padding-right: 65px;
  }
}
.section_menu-info h4 {
  margin: 0%;
  padding: 8px 0 5px 0;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.section_menu-info-prix {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section_menu-info-prix p {
  margin: 0%;
  padding: 5px 0 8px 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.section_menu-info-prix span {
  font-weight: bold;
}
.section_menu-info-check {
  background-color: #99E2D0;
  width: 60px;
  height: 70px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -60px;
  top: 0;
  padding: 20px;
  transition: all 0.3s ease-in-out 0.2s;
}
.section_menu-info-check i {
  color: white;
  transition: all 0.3s ease-in-out 0.2s;
}

/*explorer bouton*/
.explorer {
  background-color: #f5f5f5;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 50px;
}
.explorer_bouton {
  padding: 15px 75px;
  text-decoration: none;
  border: none;
  color: white;
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  border-radius: 25px;
  box-shadow: 1px 1px 3px 0 rgba(68, 67, 67, 0.64);
}
.explorer_bouton:hover {
  opacity: 0.85;
  transition: 0.15s;
  box-shadow: 2px 1px 8px -2px #000000;
}
@media screen and (max-width: 767px) {
  .explorer_bouton {
    padding: 15px 35px;
  }
}

/*# sourceMappingURL=style.css.map */
