* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

/*header*/
.logo {
  padding: 20px 0 10px 0;
  box-shadow: 0 0 5px rgba(7, 7, 7, 0.25);
  position: relative;
}
.logo h1 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  margin: 0;
}

/*location*/
.info_location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #f2f3f3;
  padding: 0 25px 0 0;
}
.info_location p {
  font-weight: 500;
  font-size: 17px;
}

/*explorer*/
.info_explorer {
  text-align: center;
  padding: 10px 30px 60px 30px;
  background-color: #fafafa;
}
.info_explorer-paragraphe {
  margin-bottom: 40px;
}
.info_explorer-bouton {
  text-decoration: none;
  border: none;
  color: white;
  padding: 15px;
  background-image: linear-gradient(0deg, rgba(136, 59, 230, 0.9), rgba(236, 129, 206, 0.9));
  border-radius: 25px;
  box-shadow: 1px 1px 3px 0 rgba(68, 67, 67, 0.64);
}
.info_explorer-bouton:hover {
  opacity: 0.85;
  transition: 0.15s;
  box-shadow: 2px 1px 8px -2px #000000;
}

/*fonctionnement*/
.fonctionnement {
  padding-bottom: 50px;
}
.fonctionnement_titre {
  padding-left: 100px;
}
@media screen and (max-width: 767px) {
  .fonctionnement_titre {
    padding-left: 20px;
  }
}

.fonctionnement_listes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.fonctionnement_listes-liste {
  background-color: #f5f5f5;
  border: none;
  border-radius: 15px;
  padding: 20px 15px;
  margin: 0 20px;
  width: 70%;
  font-weight: 500;
  cursor: pointer;
  list-style: none;
  position: relative;
  box-shadow: 1px 1px 3px 0 rgba(68, 67, 67, 0.64);
}
@media screen and (max-width: 767px) {
  .fonctionnement_listes-liste {
    width: auto;
    margin: 0 20px 0 0;
  }
}
.fonctionnement_listes-liste:hover {
  opacity: 0.9;
  transition: 0.2s;
  box-shadow: 2px 1px 8px -2px #000000;
}

.fonctionnement_listes i {
  margin: 0 10px;
  color: #706e6e;
}
.fonctionnement_listes .fonctionnemen_listes-liste-numero {
  margin: 0%;
  background-color: #9356DC;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  position: absolute;
  bottom: 15px;
  left: -15px;
}

/*menus*/
.menus {
  padding: 30px 0 20px 0;
  background-color: #f5f5f5;
}
.menus_titre {
  padding-left: 100px;
}
@media screen and (max-width: 767px) {
  .menus_titre {
    padding-left: 20px;
  }
}
.menus_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
  width: 92%;
  margin-left: 4%;
  border-radius: 15px;
}
@media screen and (max-width: 767px) {
  .menus_cards {
    flex-direction: column;
  }
}

/*menus cards*/
.menus_cards-card {
  height: 250px;
  width: 48%;
  margin-bottom: 30px;
  border-radius: 15px;
  background-color: white;
  text-decoration: none;
  color: inherit;
  position: relative;
  box-shadow: 1px 1px 3px 0 rgba(68, 67, 67, 0.64);
}
@media screen and (max-width: 767px) {
  .menus_cards-card {
    width: 100%;
  }
}
.menus_cards-card:hover {
  opacity: 0.9;
  transition: 0.2s;
  box-shadow: 2px 1px 8px -2px #000000;
}

.menus_cards-card-img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: center;
}
.menus_cards-card-badge {
  background-color: #99E2D0;
  color: #035203;
  font-weight: 500;
  padding: 8px;
  position: absolute;
  top: 15px;
  right: 10px;
}

/*menus cards description*/
.menus_cards-description {
  position: relative;
}
.menus_cards-description h4 {
  margin: 0%;
  padding: 5px 0 5px 8px;
}
.menus_cards-description p {
  margin: 0%;
  padding-left: 8px;
  font-size: 15px;
}
.menus_cards-description i {
  font-size: 25px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

/*# sourceMappingURL=style.css.map */
