/*spinner*/
.spinner {
    height:100%;
    width:100%;
    background: $gris;
    position:fixed;
    inset:0;
    z-index: 1;
    animation: spinner 2s both;
    animation-delay: 1.0s;
    display:flex;
    align-items: center;
    justify-content: center;
}
@keyframes spinner {
    0% {
        opacity: 0.9;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.spinner_elements {
    display:flex;
    justify-content:center;
    gap: 20px;
    & span {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 2px solid $tertiaire;
        background-color: $gris;
        animation: anim 1s linear;
        animation-iteration-count: 1;
    }
    & span:nth-child(2) {
        border: 2px solid $secondaire;
        background-color: $gris;
        animation-delay: 0.4s;
    }
    & span:nth-child(3) {
        border: 2px solid $primaire;
        background-color:$gris;
        animation-delay: 0.8s;
    }
}
@keyframes anim {
    50% {
        opacity: 0.3;
        transform: scale(0.6) translate(10px);
    }
}